@import "_variables";

$side-margin: 7em;

.Checkout__imgs {
  height: 12vw;
  // width: 40%;
  display: flex;
  //   margin: 4em 0 0 $side-margin;
}

.Checkout__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 4em $side-margin;
  .imgs-addons {
    display: flex;
    flex-direction: column;
    width: 45%;
    span {
      margin-top: 5em;
      margin-bottom: 1em;
    }
    label {
      margin-right: 1em;
    }
    .total {
      width: 40%;
      margin-top: 2em;
    }
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        padding: 0;
        margin: 0;
      }
    }
    .total-row {
      border-top: 1px solid grey;
    }
  }
}

.tos-container {
  margin: 0 $side-margin;
  @include textLight;
  font-size: 0.6rem;
}

.card-icons {
  @include FlexCenter;
  width: 50%;
  margin: auto;
  font-size: 2rem;
  justify-content: space-evenly;
  color: grey;
}

.Checkout__img {
  width: 50%;
  height: 100%;
  @include DivImg;
}

.Checkout__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  float: right;
  //   margin-right: $side-margin;
}

.Checkout__form label {
  //   font-weight: bold;
  @include textLight;
  margin-bottom: 5px;
}
#year {
  width: 16px;
  height: 16px;
  display: block;
}
.Checkout__form input,
.Checkout__form select {
  padding: 10px;
  margin-bottom: 2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.Checkout__form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Checkout__form-row div {
  flex-basis: 30%;
}

.Cancel {
  @include textLight;
  text-decoration: underline;
  cursor: pointer;
}

.Checkout__form button[type="submit"] {
  background-color: $button-color;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background-color: $button-hover-color;
  }
}
