@import "_variables.scss";

.feature-img {
  width: 100%;
  height: 75vh;
  background: url(../Assets/images/Home-Feature.png);
  @include DivImg;
  @include FlexCenter;
}

// TODO: style search bar better
.search__container {
  padding: 2em;
  background-color: white;
  height: 10%;
  @include FlexCenter;
}

.search__btn {
  background-color: $button-color;
  padding: 0.5em 2em;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.feature__filters {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2em;
  width: $home-content-width;
  margin: auto;
  margin-top: 3em;
  height: 50vh;
}

.feature__filter-main {
  grid-row: 1/3;
}
// TODO: Make cards square
.filterCard__container {
  position: relative;
  height: 100%;
  width: 100%;
  @include DivImg;
  //   background-image: url("../Assets/images/Home-Feature.png");
  .title {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-family: "Arial Bold", "Arial", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1px;
  }
}

.feature__listings {
  width: $home-content-width;
  margin: auto;
  margin-top: 3em;
}

.listingCard__container {
  display: flex;
  height: 22vh;
  margin-bottom: 3em;
  border: 1px solid grey;
  .feature__img {
    @include DivImg;
    width: 30%;
    height: 100%;
  }
  .info__container {
    display: grid;
    width: 70%;
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    // TODO: match font/icon sizing
    .listing__heading {
      padding: 1em;
      grid-column: 1/3;
      grid-row: 1;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      .title {
        font-family: "Arial Bold", "Arial", sans-serif;
        font-weight: 700;
        font-size: 2rem;
        margin-right: 1em;
      }
    }
    .price__container {
      grid-column: 3;
      grid-row: 2;
      //   text-align: right;
      font-weight: bold;
      font-size: x-large;
      margin: auto;
    }
    .desc__container {
      grid-column: 1/3;
      grid-row: 2;
      padding: 0 1em;
    }
    .attributes__container {
      grid-column: 1/3;
      grid-row: 3;
      width: 100%;
      .attrs {
        display: flex;
        margin-left: 1em;
        .attr__pair {
          // TODO: Make sizing match prototype (icons)
          @include FlexCenter;
          margin-right: 1em;
        }
      }
    }
  }
}

// TODO: style footer
